.adminpage {
    background-color: white;
            //admin formulär 
            .search-album-form,
            .add-product-form {
                @include flexColumnCenter;
                align-self: center;
                width: 70%;
                h3 {
                    color: $colorMain;
                    text-align: center;
                }
                fieldset {
                    text-align: center;
                    padding: 1.5rem;
                    border: 4px solid lightgrey;
                    margin-bottom: 2rem;
                    label {
                        display: block;
                        @include inputlabelStyle;
                    }
                    input {
                        @include inputfieldStyle;
                    }
                    button {
                        color: $colorSecond;
                        font-size: $textSizeStandard;
                        background-color: none;
                        border: 1px solid $colorSecond;
                        align-self: center;
                        line-height: 40px;
                        &:hover {
                            @include buttonHover;
                        }
                    }
                }
                .submit-form {
                    text-align: center;
                    margin: 2rem;
                    button {
                        color: $colorSecond;
                        font-size: $textSizeStandard;
                        background-color: none;
                        border: 1px solid $colorSecond;
                        align-self: center;
                        line-height: 40px;
                        width: 40%;
                        &:hover {
                            @include buttonHover;
                        }
                    }
                }
            }
            //admin existerande produkter
            .productlist-container {
                @include flexColumnCenter;

                h2 {
                    color: $colorMain;
                    margin-top: 3rem;
                    text-align: center;
                }

                .product-container {
                    margin-top: 0.5rem;
                    color: $colorMain;
                    text-align: center;

                    .info {
                        margin: 0.5rem 2rem 2rem 2rem;
                        padding: 2rem;
                        background-color: whitesmoke;
                        display: inline-block;
                        text-align: left;
                    }

                }

            }
}