.navbar {
    background: $colorThird;
    border-radius: $roundedSmall;
    .navbar-content {
        @include flexRowBetween; 
        padding: $paddingSmall;
        color: $colorMain;
        .navbar-logo {
            font-weight: $textBold;
        }
        i:hover {
            color: $colorSecond;
        }
    }
    .hidden-menu {
        @include flexRowBetween;
        height: 0;
        font-size: 0;
        overflow: hidden;
        transition: $transitionFast;
        a {
            color: $colorMain;
            text-decoration: none;
            font-weight: $textBold;
        }
        a:hover {
            color: $colorSecond;
        }
    }
    .drop-down-menu {
        border-top: $borderThin;
        height: auto;
        padding: $paddingSmall;
        font-size: $textSizeStandard;
        overflow: visible;
    }
}