.navbar {
    font-family:sans-serif;
    background: $colorMain;
    position: sticky;
    top: 0;
    .navbar-content {
        align-self:center;
        border-bottom:1px solid black; 
        @include flexRowBetween; 
        padding: 26px 32px;
        color: $colorThird;
        .navbar-logo {
            font-weight: $textBold;
        }
        a {
            color: $colorThird;
        }
        i:hover {
            color: $colorSecond;
        }
        #loggedin {
            color:rgb(106, 238, 188);
        }
    }
    .hidden-menu {
        @include flexRowBetween;
        padding: 0 44px;
        border-top: 1px solid $colorFourth;
        height: 0;
        overflow: hidden;
        font-size: 0;
        transition: $transitionFaster;
        a {
            margin-top: 2px;
            padding:1rem;
            color: $colorSecond;
            text-decoration: none; 
            &:hover {
                color: white;
            }
        }
    }
    .drop-down-menu {
        padding: 6px 32px;
        transition: $transitionFast;
        height: auto;
        overflow: visible;
        font-size: $textSizeSmall;
    }
}