html {
    height: 100%;
    font-size:12pt;
    body {
        @include flexColumn;
        background-color: $colorMain;
        color: $colorSecond;
        min-height: 100%;       
        main {
            @include flexCenter; 
            flex-direction: column;
            flex: 1 0 auto;
            font-family: $textFontStandard; //tillfällig font
            .pageheadline {
                font-weight: $textBold;
                font-size: $textSizeBig; //olika för startsidan/mobilläge/andra huvudrubriker
                margin:10px;
                line-height: 100px;
                text-align: center; 
            }
            //unikt för startsidan 
            .newscontainers {
                font-size: $textSizeStandard;
                display: flex; 
                @include flexRowCenter;
                .news {
                    margin: 15px;
                //kan tas bort sen beroende på vilka bilder vi vill ha 
                    .placeholder {
                        border:2px solid grey; 
                        height:100px;
                        width:100px;
                    }
                }
            }
            //unikt för startsidan 
            .startbuttons {
                @include flexColumn;
                margin-bottom: 50px;
                button {
                    @include buttonShapeBig;
                    font-size: $textSizeStandard;
                    background: $colorSecond;
                    align-self: center;
                    line-height: 40px;
                    margin: 10px;
                }
            }
            .small-text {
                text-align: center;
                padding: $paddingMedium;
            }
            .product-list {
                padding: 0;
                list-style-type: none;
                .product-display {
                    padding: $paddingMedium;
                    .product-image-container {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                    .product-info-container {
                        @include flexRowBetween;
                        padding: $paddingSmall;
                        .product-info-left {
                            @include flexColumnCenter;
                            margin: 8px 0;
                            
                        }
                        .product-info-right {
                            @include flexColumnCenter;
                            margin: 8px 0;
                            button {
                                @include buttonShapeSmall;
                                font-size: $textFontStandard;
                                background: $colorThird;
                            }
                        }
                    }
                }
            }
            .checkout-payment-container {
                @include flexCenter;
                background-color: white;
                h3 {
                    font-size:1rem;
                    color:grey;
                    font-weight:lighter;
                }
                input {
                    border-radius: $rounded;
                    border-color: whitesmoke;  
                }
            }
            
        }
    }
}