html {
    height: 100%;
    font-size: 12pt;
    body {
        margin: 0;
        @include flexColumn;
        background-color: $colorMain;
        color: $colorSecond;
        min-height: 100%;

        .adminpage {
            background-color: white;
        }

        a {
            text-decoration: none;
            color: $colorSecond;
        }

        main,
        .adminpage {
            @include flexColumn;
            flex-direction: column;
            flex: 1 0 auto;
            font-family: $textFontStandard; //tillfällig font

            .pageheadline {
                font-weight: $textBold;
                font-size: $textSizeBig; //olika för startsidan/mobilläge/andra huvudrubriker
                margin: 10px;
                line-height: 100px;
                text-align: center;
            }

            //admin formulär 
            .search-album-form,
            .add-product-form {
                @include flexColumnCenter; 
                align-self: center;
                width: 70%;
                h3 {
                    color: $colorMain;
                    text-align: center;
                }
                fieldset {
                    text-align: center;
                    padding: 1.5rem;
                    border: 4px solid lightgrey;
                    margin-bottom:1rem; 

                    label {
                        display:block;
                        font-size: 1rem;
                        color: $colorMain;
                        opacity: 0.5;
                    }
                    input {
                        padding:0.5rem 0 0.5rem 0; 
                        width:90%;
                        margin-bottom: 1rem;
                        border:1px solid lightgrey;
                    }
                    button {
                        color:$colorSecond;
                        font-size: $textSizeStandard;
                        background-color:none;
                        border:1px solid $colorSecond;
                        align-self: center;
                        line-height: 40px;
                    }
                }
                .submit-form {
                    text-align: center;
                    margin: 2rem;
                        button {
                            color:$colorSecond;
                            font-size: $textSizeStandard;
                            background-color:none;
                            border:1px solid $colorSecond;
                            align-self: center;
                            line-height: 40px;
                            width:40%;
                        }
                    }
            }

            //admin existerande produkter
            .productlist-container {
                @include flexColumnCenter;

                h2 {
                    color: $colorMain;
                    margin-top: 3rem;
                    text-align: center;
                }

                .product-container {
                    margin-top: 0.5rem;
                    color: $colorMain;
                    text-align: center;

                    .info {
                        margin: 0.5rem 2rem 2rem 2rem;
                        padding: 2rem;
                        background-color: whitesmoke;
                        display: inline-block;
                        text-align: left;
                    }

                }

            }

            //unikt för startsidan 
            .newscontainers {
                font-size: $textSizeStandard;
                display: flex;
                @include flexRowCenter;

                .news {
                    margin: 15px;

                    //kan tas bort sen beroende på vilka bilder vi vill ha 
                    .placeholder {
                        border: 2px solid grey;
                        height: 100px;
                        width: 100px;
                    }
                }
            }

            //button styling  
            .startbuttons {
                @include flexColumnCenter;
                margin-bottom: 50px;
                margin-top:20px;
                button {
                    color:$colorSecond;
                    font-size: $textSizeStandard;
                    background-color:$colorMain;
                    border:1px solid $colorSecond;
                    align-self: center;
                    line-height: 40px;
                    margin: 10px;
                    width:40%;
                }
            }

            .small-text {
                text-align: center;
                padding: 24px;
                margin: 0px 30px 0px 30px;
                border-width: 1px;
                border-color: $colorThird;
                border-bottom-style: solid;
            }

            .pagination {
                font-size: 0.8rem;
                margin: 0 30px;
                padding: 4px 0;
                text-align: center;
                border-width: 1px;
                border-color: $colorThird;
                border-bottom-style: solid;

                a {
                    margin: 0 18px;
                    color: $colorSecond;
                    text-decoration: none;
                }

                span {
                    margin: 0 18px;
                    color: $colorThird;
                }
            }

            .product-list {
                padding: 0;
                margin: 0;
                list-style-type: none;

                .line {
                    border-top-style: solid;
                    border-top-width: 1px;
                    border-top-color: $colorThird;
                    margin: 0px 30px 26px 30px;
                }

                .product-display {
                    padding: $paddingMedium;

                    .product-image-container {
                        width: 100%;

                        img {
                            border-style: solid;
                            border-width: 1px;
                            border-color: $colorThird;
                            width: 100%;
                        }
                    }

                    .product-info-container {
                        @include flexRowBetween;
                        padding: $paddingSmall;
                        margin: 8px 0 0 0;

                        .product-info-left {
                            @include flexColumnCenter;

                            .product-price-container {
                                .product-price {
                                    font-size: 1.4rem;
                                    /*fixa variabel*/
                                    color: $colorThird;
                                }

                                .product-currency {
                                    font-size: 0.8rem;
                                    /*fixa variabel*/
                                }
                            }
                        }

                        .product-info-right {
                            @include flexColumnCenter;

                            button {
                                @include buttonShapeMedium;
                                font-size: $textFontStandard;
                                color: $colorSecond;
                                background: none;
                                margin: 4px 0;
                            }
                        }
                    }
                }
            }

            //styling föt checkout och shoppingcart 
            .shoppingcart-container {
                height: auto;
                background-color: $colorSecond;
                margin: 10px;
                @include flexRowBetween;

                .wishlist-shoppingcart-continer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .wishlist-shoppingcart-innercontiner {
                        border: $colorMain;
                        border-style: solid;
                        margin: 7px;
                        border-width: 1px;
                        display: flex;
                        flex-direction: row;
                        width: 70%;
                        justify-content: center;

                        .wishlist-shoppingcart-info {
                            display: flex;
                            flex-direction: column;

                            .wishlist-shoppingcart-item {
                                margin: 7px;
                                font-size: $textSizeSmall;
                                display: flex;
                                color: $colorMain;
                            }
                        }

                        .product-img {
                            width: 150px;
                            height: 100px;
                            background-color: lightslategray;
                            margin: 10px;
                        }

                    }
                }

                .changecart {
                    border-left: 0.5px solid lightslategray;
                    padding: 10px 10px 0px 10px;
                }
            }

            .checkout-payment-container {
                background-color: white;
                margin: 10px;

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h2 {
                        text-align: center;
                        font-size: 2rem;
                        color: black;
                    }

                    h3 {
                        margin-top: 0px;
                        margin-bottom: 5px;
                        font-size: 1rem;
                        color: grey;
                        font-weight: lighter;
                        text-align: left;
                    }

                    .checkout-user-container {
                        align-self: center;

                        input {
                            @include inputfieldStyle;
                        }
                    }

                    .checkout-postal {
                        align-self: center;
                        margin-bottom: 30px;

                        .postal-city>input {
                            @include inputfieldStyle;
                            width: 70%;
                        }

                        .postal-code>input {
                            @include inputfieldStyle;
                            width: 70%;
                        }
                    }

                    button {
                        align-self: center;
                        @include buttonShapeBig;
                        background-color: $colorSecond;
                        padding: $paddingThin;
                        margin-bottom: 30px;
                    }
                }

            }

            .product-container {
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 3rem;

                .album-img a img {
                    width: 50%;
                }
            }

            //styling för useraccount/userPorfile? 
            .userinfo {
                @include flexColumnCenter;
                h3 {
                    align-self: center;
                    border-bottom: 1px solid $colorThird;
                    width: 80%;
                }
                span,h4 {
                    align-self: center;
                }
            }

            .orderinfo {
                @include flexColumnCenter;
                margin-bottom: 50px;

                h3 {
                    align-self: center;
                    border-bottom: 1px solid;
                    border-width: 1px;
                    border-color: $colorThird;
                    width: 80%;
                }

                .wishlist-continer {
                    align-self: center;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    justify-content: center;
                    width: 80%;

                    .wishlist-innercontiner {
                        border: $colorSecond;
                        border-style: solid;
                        margin: 10px;
                        border-width: 1px;
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        justify-content: center;


                        .wishlist-item {
                            margin: 7px;


                        }
                    }
                }
            }

            .change-password {
                @include flexColumnCenter;
                align-self: center;
                width: 70%;
                margin-bottom: 2rem;

                .passwordinfo {
                    text-align: center;
                    background-color: whitesmoke;

                    h3,
                    label {
                        display: block;
                        color: lightslategray;
                    }

                    input {
                        padding: 0.5rem 0 0.5rem 0;
                        width: 80%;
                        border: none;
                        margin-bottom: 1rem;
                    }

                    button {
                        @include buttonShapeBig;
                        background-color: $colorSecond;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                    }
                }
            }


            //styling för enskilda produkter (one product) 
            #one-product-image {
                width: 70%;
            }

            #add-to-cart-button {
                @include buttonShapeMedium;
                font-size: $textFontStandard;
                color: $colorSecond;
                background: none;
                margin: 4px 0;
            }

            //styling för create-user och login 
            .create-user-form,
            .admin-login-form, .reset-form {
                align-self: center;

                fieldset {
                    align-self: center;
                    text-align: left;
                    padding: 1.5rem;
                    border: none;
                    margin-bottom: 1rem;

                    label {
                        text-align: left;
                        font-size: 1rem;
                        margin-bottom: 0.2rem;
                    }

                    input {
                        padding: 0.5rem 0 0.5rem 0;
                        width: 100%;
                        border: none;
                        margin-bottom: 1rem;
                    }

                }
            }

            .reset-password {
                text-align: center;
            }
        }

    }
}