html {
    height: 100%;
    font-size:12pt;
    body {
        @include flexColumn;
        background-color: $colorMain;
        color: $colorSecond;
        min-height: 100%;       
        main {
            @include flexColumn; 
            flex-direction: column;
            flex: 1 0 auto;
            font-family: $textFontStandard; //tillfällig font
            .pageheadline {
                font-weight: $textBold;
                font-size: $textSizeBig; //olika för startsidan/mobilläge/andra huvudrubriker
                margin:10px;
                line-height: 100px;
                text-align: center; 
            }
            //unikt för startsidan 
            .newscontainers {
                font-size: $textSizeStandard;
                display: flex; 
                @include flexRowCenter;
                .news {
                    margin: 15px;
                //kan tas bort sen beroende på vilka bilder vi vill ha 
                    .placeholder {
                        border:2px solid grey; 
                        height:100px;
                        width:100px;
                    }
                }
            }
            //unikt för startsidan 
            .startbuttons {
                @include flexColumnCenter;
                margin-bottom: 50px;
                button {
                    @include buttonShapeBig;
                    font-size: $textSizeStandard;
                    background: $colorSecond;
                    align-self: center;
                    line-height: 40px;
                    margin: 10px;
                }
            }
            .small-text {
                border-width: 1px;
                border-color: $colorThird;
                border-top-style: solid;
                border-bottom-style: solid;
                text-align: center;
                padding: $paddingMedium;
                margin-top: 32px;
                margin-bottom: 8px;
                margin: 32px 30px 8px 30px;
            }
            .product-list {
                padding: 0;
                list-style-type: none;
                .line {
                    border-top-style: solid;
                    border-top-width: 1px;
                    border-top-color: $colorThird;
                    margin: 0px 30px 26px 30px;
                }
                .product-display {
                    padding: $paddingMedium;
                    .product-image-container {
                        width: 100%;
                        img {
                            border-style: solid;
                            border-width: 1px;
                            border-color: $colorThird;
                            width: 100%;
                        }
                    }
                    .product-info-container {
                        @include flexRowBetween;
                        padding: $paddingSmall;
                        margin: 8px 0 0 0;
                        .product-info-left {
                            @include flexColumnCenter;
                            .product-price-container {
                                .product-price {
                                    font-size: 1.4rem; /*fixa variabel*/
                                    color: $colorThird;
                                }
                                .product-currency {
                                    font-size: 0.8rem;  /*fixa variabel*/
                                }
                            } 
                        }
                        .product-info-right {
                            @include flexColumnCenter;
                            button {
                                @include buttonShapeSmall;
                                font-size: $textFontStandard;
                                color: $colorSecond;
                                background: $colorThird;
                            }
                        }
                    }
                }
            }
            .shoppingcart-container {
                height:auto;
                background-color:white; 
                margin:10px; 
                @include flexRowBetween; 
                .product-img {
                    width:100px;
                    height:100px;
                    background-color:lightslategray;
                }
                .changecart {
                    border-left:0.5px solid lightslategray;
                    padding:10px 10px 0px 10px;
                }
            }
            .checkout-payment-container {
                background-color: white;
                margin:10px;
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h2 {
                        text-align: center;
                        font-size:2rem;
                        color:black;
                    }
                    h3 {
                        margin-top:0px;
                        margin-bottom:5px;
                        font-size:1rem;
                        color:grey;
                        font-weight:lighter;
                        text-align:left; 
                    }
                    .checkout-user-container {
                        align-self: center;
                        input {
                            @include inputfieldStyle;
                        }
                    }
                    .checkout-postal {
                        align-self: center;
                        margin-bottom:30px;
                        .postal-city>input{  
                            @include inputfieldStyle;
                            width:70%;      
                        }
                        .postal-code>input{
                            @include inputfieldStyle; 
                            width:70%;
                        }
                    }
                    button {
                        align-self:center;
                        @include buttonShapeBig;
                        background-color:$colorSecond; 
                        padding:$paddingThin;
                        margin-bottom:30px;
                    }
                }

            }
            form {
                label {
                    display: block;
                }
                input{
                    @include inputfieldStyle;
                    width: 70%;
                }
                button {
                    @include buttonShapeBig
                }
            }
            .product-container {
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 3rem ;
                .album-img a img {
                    width: 50%;
                }
            }   
            
        }
    }
}