$colorMain : rgb(15, 15, 15);
$colorSecond : rgb(146, 150, 240);
$colorThird :  rgb(86, 90, 223);

$textFontStandard : sans-serif;

$textSizeStandard : 1rem;
$textSizeBig : 2rem;

$textBold : 800;

$paddingSmall : 8px 16px;
$paddingThin : 8px 24px;
$paddingMedium : 16px 32px;

$borderThin: 1px solid black;

$roundedSmall : 5px;
$roundedMedium : 9px;
$roundedBig : 20px;

$transitionFast : 0.2s ease-in;



