<%- include ("header.ejs") %>
<form action="/add-product" method="post">
    <div>Artist<input type="text" name="artist" /></div>
    <div>Album<input type="text" name="album" /></div>
    <div>Beskrivning<input type="text" name="description" /></div>
    <div>Pris<input type="text" name="price" /></div>
    <div><button type="submit">Lägg till</button></div>
</form>

<%- include ("footer.ejs") %>