<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div>Detta är admin-sida, visar formulär för att söka album och en lista på produkter som finns i DB</div>
    <form action="/admin" method="POST">
        <div>
            <label for="artistname">Artist</label>
            <input type="text" name="artist" />
        </div>
        <div>
            <label for="albumName">Album</label>
            <input type="text" name="album" />
        </div>
        <div>
            <button type="submit">Sök album</button>
        </div>
    </form>
    <div>

    </div>
</main>
<%- include ("footer.ejs") %>