<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Varukorg</h1>
    </div>
    <div class="shoppingcart-container">
        <!-- loopa produkter här -->
    </div>

    <div class="checkout-payment-container">
        <form action="post">
            <div class="checkout-header">
                <h2>Betalning</h2>
            </div>
            <div class="checkout-user-container">
                <input type="radio">
                <input type="number" placeholder="Kortnummer">
            </div>

            <div class="checkout-headline">
                <h2>Personuppgifter</h2>
            </div>
            <div class="checkout-user-container">
                <h3>Förnamn</h3>
                <input type="text">
            </div>
            <div class="checkout-user-container">
                <h3>Efternamn</h3>
                <input type="text">
            </div>
            <div class="checkout-user-container">
                <h3>Adress</h3>
                <input type="text">
            </div>
            <div class="checkout-user-container">
                <div class="checkout-user-innercontainer">
                    <h3>Stad</h3>
                    <input type="text">
                </div>
                <div class="checkout-user-innercontainer">
                    <h3>Postnummer</h3>
                    <input type="text">
                </div>
            </div>

                <button type="submit">Beställ</button>

        </form>
    </div>

</main>
<%- include ("footer.ejs") %>