<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Tack för din beställning!</h1>
    </div>
    <div class="userinfo">
        <h4>Tack!</h4>
        <span>Dina varor kommer att levereras till följande adress:</span>
        <span><%= showUserInfo %></span>
        <span></span>
        <span></span>

    </div>
    <form class="startbuttons" method="get">
        <button type="submit" formaction="/">STARTSIDA</button>
        <button type="submit" formaction="logout">LOGGA UT</button>
    </form>
</main>
<%- include ("footer.ejs") %>