<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main class="adminpage">
    <h1 class="pageheadline">Lägg till admin</h1>

    <form action="/createadmin" method="post" class="create-admin-form">
        <fieldset>
            <label for="adminName">Adminnamn</label>
            <input type="text" name="adminName" />
            <label for="password">Lösenord</label>
            <input type="text" name="adminPassword" />
            <button type="submit">Lägg till</button>
        </fieldset>
    </form>
    
</main>



<%- include ("footer.ejs") %>