<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<!--lägger till ny användare-->
<form action="/create-user" method="post">
    <div>Förnamn
        <input type="text" name="userFirstName" />
    </div>
    <div>Efternamn
        <input type="text" name="userLastName" />
    </div>
    <div>Adress
        <input type="text" name="userAddress" />
    </div>
    <div>Lösenord
        <input type="text" name="userPassWord" />
    </div>
    <div>E-post
        <input type="text" name="userMail" />
    </div>
    <div>
        <button type="submit">Lägg till</button>
    </div>
</form>

<%- include ("footer.ejs") %>