<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<!--lägger till ny användare-->
<form action="/createuser" method="post">
    <div>Förnamn
        <input type="text" name="firstName" />
    </div>
    <div>Efternamn
        <input type="text" name="lastName" />
    </div>
    <div>Adress
        <input type="text" name="address" />
    </div>
    <div>Lösenord
        <input type="password" name="password" />
    </div>
    <div>E-post
        <input type="email" name="email" />
    </div>
    <div>admin
        <input type="password" name="adminpass" />
    </div>
    <div>
        <button type="submit">Lägg till</button>
    </div>
</form>

<%- include ("footer.ejs") %>