<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="container">
        <h1 class="my-3"><%= errmsg %></h1>
        <button onclick="goBack()">Tillbaka</button>
    </div>
</main>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<%- include ("footer.ejs") %>