<%- include ("header.ejs") %>
<main>
    <div class="container">
        <h1 class="my-3"><%= errmsg%></h1>
        <button class="btn my-4 d-block" id="errButton"><a href="/todolist">Tillbaka</a></button>
    </div>
</main>

<%- include ("footer.ejs") %>