</body>
<div class="footer-content">
    <div class="logo">
        Logga
    </div>
    <div class="footer-information">
        <ul>
            <li><a href="">Kontakta oss</a></li>
            <li><a href="">Köpvillkor</a></li>
            <li><a href="">Leverans</a></li>
        </ul>
    </div>
    <div class="footer-social-media">
        <ul>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
        </ul>
    </div>

</div>

</html>