<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div>Inloggning för admin</div>
    <form action="/admin" class="admin-login-form">
        <div>Namn<input type="text" name="adminName" id="admin-name"></div>
        <div>Lösenord<input type="text" name="adminPassword" id="admin-pw"></div>
        <div><button type="submit">Logga in</button></div>
    </form>
</main>
<%- include ("footer.ejs") %>