<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div>Inloggning för användare</div>
    <form action="/userlogin" method="post" class="admin-login-form">
        <div>E-mailadress<input type="text" name="userMail" id="user-mail"></div>
        <div>Lösenord<input type="text" name="userPassWord" id="user-pw"></div>
        <div><button type="submit">Logga in</button></div>
    </form>
</main>

<!- gör en post <%- include ("footer.ejs") %>