<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div>Inloggning för admin</div>
    <form action="<%constant.ROUTE.loginAdmin%>" method="POST" class="admin-login-form">
        <input type="text" name="adminName" id="admin-name" placeholder="Namn" />
        <input type="password" name="adminPassword" id="admin-pw" placeholder="Lösenord" />
        <button type="submit">Logga in</button>
    </form>
</main>
<%- include ("footer.ejs") %>