<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <h1>Logga in:</h1>
    <form action="<%constant.ROUTE.loginUser%>" method="POST" class="admin-login-form">
        <input type="text" name="email" id="" placeholder="e-mail" />
        <input type="password" name="password" id="" placeholder="Lösenord" />
        <button type="submit">Logga in</button>
    </form>
</main>
<%- include ("footer.ejs") %>