<div class="navbar">
    <div class="menu-icon"><i class="fas fa-bars"></i></div>
    <div class="serach-icon"><i class="fas fa-search"></i></div>
    <div class="navbar-logo">Vinylshop</div>
    <div class="user-icon"><i class="far fa-user"></i></div>
    <div class="cart-icon"><i class="fas fa-shopping-bag"></i></div>
</div>