<div class="navbar">
    <div class="menu-icon"><i class="fa fa-bars"></i></div>
    <div class="serach-icon"><i class="fa fa-search"></i></div>
    <div class="navbar-logo">VINYLSHOP</div>
    <div class="user-icon"><i class="fa fa-user"></i></div>
    <div class="cart-icon"><i class="fa fa-shopping-bag"></i></div>
</div>