<div class="navbar">
    <script>
        const showMenu = () => document.querySelector('#menu').classList.toggle('drop-down-menu')
    </script>
    <div class="navbar-content">
        <div class="menu-icon"><i class="fa fa-bars" onclick="showMenu()"></i></div>
        <div class="serach-icon"><i class="fa fa-search"></i></div>
        <div class="navbar-logo">VINYLSHOP</div>
        <div class="user-icon"><i class="fa fa-user"></i></div>
        <div class="cart-icon"><a href="/checkout/:id"><i class="fa fa-shopping-bag"></i></a></div>
    </div>
    <div id="menu" class="hidden-menu">
        <a href="/">HEM</a>
        <a href="/gallery">PRODUKTER</a>
        <a href="/">NÅGOT</a>
        <a href="/login">LOGGA IN?</a>
    </div>
</div>