<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div>Skapa ny användare</div>
    <form action="/useraccount" class="admin-login-form">
        <div>Namn <input type="text" name="user-name" id="user-id"></div>
        <div>Adress <input type="text" name="user-address" id="user-address"></div>
        <div>E-mailadress<input type="email" name="user-mail" id="user-mail"></div>
        <div>Lösenord<input type="text" name="user-pw" id="user-pw"></div>
        <div><button type="submit">Skap profil</button></div>
    </form>
</main>
<%- include ("footer.ejs") %>