<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h1>Skriv in den email du registrerade dig med!</h1>
    </div>
    <form action="<% ROUTE.resetpasswordToken %>" method="post" class="reset-form">
        <fieldset>
            <label for="resetmail">Email:</label>
            <input type="email" name="resetmail">
            <div>
                <button type="submit" class="startbuttons">Ändra</button>
            </div>
        </fieldset>
    </form>
</main>

<%- include ("footer.ejs") %>