<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="pageheadline">
        <h2>Fyll in din mailadress</h2>
    </div>
    <form action="<% ROUTE.resetpasswordToken %>" method="post" class="reset-form">
        <fieldset>
            <label for="resetmail">Email:</label>
            <input type="email" name="resetmail">

            <div>En återställningslänk skickas till din mailadress.</div>
            <div class="startbuttons">
                <button type="submit">SKICKA</button>
            </div>
        </fieldset>
    </form>
</main>

<%- include ("footer.ejs") %>