<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>  
<h1 class="pageheadline">Skriv in den email du registrerade dig med!</h1>

<form action="/reset" method="post">

    <input type="email" name="resetmail">
    <button type="submit">Skicka</button>

</form>
</main>

<%- include ("footer.ejs") %>